.mini:hover {
 -fx-background-color: #768fff;
}
.close:hover {
 -fx-background-color: #c93030;
}
.mini:pressed {
 -fx-background-color: #6a81e6;
}
.close:pressed{
 -fx-background-color: #e04646;
}
.button .text{
-fx-font-family:"Segoe Print";
-fx-font-size:28;
-fx-fill:#3b5bff;

}
#de .text{
-fx-fill:#d93dff;
}
#de, #en{
 -fx-background-color: #d1d5e6;
}
#de:hover, #en:hover{
 -fx-background-color: #b3b8c9;
}